.carousel {
  overflow-x: auto;
  scroll-behavior: smooth;
  position: relative;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(right) {
  content: "🢂";
  position: absolute;
  top: anchor(--carousel center);
  right: anchor(--carousel right);
  translate: 120%;
}
.carousel::scroll-button(right),
.carousel::scroll-button(left) {
  background-color: #ffce1a;
  color: white;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 16px;
  opacity: 70%;
  border-radius: 100%;
  transtion: all 0.2s ease;
  position: absolute;
  position-anchor: --carousel;
  padding-bottom: 0.1em;
}
.carousel::scroll-button(left) {
  content: "🢀";
  position: absolute;
  top: anchor(--carousel center);
  left: anchor(--carousel left);
  translate: -120%;
}
.carousel::scroll-button(right):hover {
  transtion: all 0.2s ease;
  background-color: rgb(0, 48, 73);
  border: 1px solid rgb(0, 48, 73);
  opacity: 1;
  color: white;
}

.carousel::scroll-button(left):hover {
  transtion: all 0.2s ease;
  background-color: rgb(0, 48, 73);
  border: 1px solid rgb(0, 48, 73);
  opacity: 1;
  color: white;
}
