.box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.light {
  background-color: rgba(255, 255, 255, 1);
}
.dark {
  background-color: rgba(0, 0, 0, 1);
}
.amber {
  background-color: rgba(251, 191, 36, 1);
}
.emerald {
  background-color: rgba(16, 185, 129, 1);
}
.red {
  background-color: rgba(239, 68, 68, 1);
}
.blue {
  background-color: rgba(59, 130, 246, 1);
}
.green {
  background-color: rgba(34, 197, 94, 1);
}
.yellow {
  background-color: rgba(234, 179, 8, 1);
}
.indigo {
  background-color: rgba(99, 102, 241, 1);
}
.purple {
  background-color: rgba(168, 85, 247, 1);
}
.pink {
  background-color: rgba(236, 72, 153, 1);
}
.gray {
  background-color: rgba(107, 114, 128, 1);
}

.hidden {
  transform: scale(0);
  transition: transform 0.3s ease;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner_black {
  width: 50px;
  height: 50px;
  border: 4px solid #000000;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
