@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@reference "tailwindcss";
@reference "C:/Users/Munib/Desktop/Maximilum/Coding Enviroment/Bookstore/Frontend/src/index.css";
@import url("https://fonts.googleapis.com/css2?family=Orienta&family=Oswald:wght@200..700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  /* display: none !important; */
}
.swiper-button-next,
.swiper-button-prev {
  @apply bg-gray-100 p-2 rounded-full z-50 shadow-md;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 64px !important;
  size: 50% 50%;
}

.swiper-button-prev,
.swiper-button-next {
  svg {
    padding: 4px;
    color: black;
  }
}

.btn-primary {
  @apply bg-primary  px-12 py-2 rounded-md text-base font-secondary font-bold hover:bg-secondary hover:text-white transition-all duration-200 cursor-pointer;
}

.html {
  scroll-behavior: smooth;
}

/* Fonts */
.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
}
